@font-face {
    font-family: 'riogrande';
    src: url('fonts/riogrande.ttf');
}
@font-face {
    font-family: 'losbanditos';
    src: url('fonts/ifc-los-banditos.ttf');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'losbanditos', Arial, Helvetica, sans-serif;

    background-image: url('img/desert-background-2.jpg');
    background-position: center;
}
h1 {
    font-family: 'riogrande', Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}
#canvas {
    background-color: black;
    border: 2px solid black;
}
#welcomeScreen img {
    width: 1440px;
    height: 810px;
    cursor: pointer;
    border: 2px solid black;
}
.d-none {
    display: none;
}
#clickMessage,
#infoClickMessage {
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: 2px;
    margin-top: -35px;
    color: white;
    cursor: pointer;
}