/* Fonts for this game */
@font-face {
    font-family: 'riogrande';
    src: url('fonts/riogrande.ttf');
}
@font-face {
    font-family: 'losbanditos';
    src: url('fonts/ifc-los-banditos.ttf');
}


/* Standard styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'losbanditos', Arial, Helvetica, sans-serif;

    background-image: url('img/desert-background-2.jpg');
    background-position: center;
}
h1 {
    font-family: 'riogrande', Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.d-none {
    display: none;
}
#canvas {
    background-color: black;
    border: 2px solid black;
}
#mute {
    cursor: pointer;
}


/* Styles for the welcome screen */
#welcomeScreen img {
    max-width: 1440px;
    max-height: 810px;
    cursor: pointer;
    border: 2px solid black;
}
#clickMessage,
#infoClickMessage,
#restartClickMessage {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: -35px;
    color: rgba(255, 229, 86, 0.8);
    cursor: pointer;
}


/* Styles for the information screen */
/* --> see also style for #infoClickMessage above */
#infoScreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.infoScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}
#howToPlay {
    background-color: rgba(255, 175, 34, 0.7);
    padding: 20px;
    border: 1px solid darkgrey;
    border-radius: 20px;
    font-size: 1.5em;
}
#howToPlay h2 {
    text-align: center;
}
#howToPlay table {
    margin-bottom: 10px;
}
#howToPlay td {
    padding-right: 10px;
}
.infoButton {
    text-align: center;
}
#btnCloseInfo {
    font-family: 'losbanditos', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}


/* Styles for mobile buttons */
#mobileButtons {
    display: none;
    width: 100%;
    max-width: 1440px;
    margin-top: -50px;
    justify-content: space-between;
}
#mobileButtonsLeftSide {
    margin-left: 15px;
    display: flex;
    gap: 20px;
}
#mobileButtonsRightSide {
    margin-right: 15px;
    display: flex;
    gap: 20px;
}
.mobileBtn {
    width: 45px;
    height: 45px;
}


/* Styles for small screens */
@media only screen and (max-width: 1440px) {
    canvas {
        display: block;
        width: 100%;
    }
    #welcomeScreen img {
        display: block;
        max-width: 100vw;
    }
}

@media only screen and (max-height: 810px) {
    canvas {
        display: block;
        height: 100vh;
    }
    h1 {
        display: none;
    }
    body {
        height: auto;
    }
    #mobileButtons {
        display: flex;
    }
}

@media (max-height: 810px) {
    #welcomeScreen img {
        position: relative;
        top: 0;
        height: 100vh;
    }
}

@media (max-width: 500px) {
    #clickMessage,
    #infoClickMessage,
    #restartClickMessage {
        font-size: 16px;
        margin-top: -25px;
    }
}

@media (max-width: 350px) {
    #clickMessage,
    #infoClickMessage,
    #restartClickMessage {
        font-size: 12px;
        margin-top: -17px;
    }
}